body{
    background-color: darksalmon;
    height: 500px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    overflow-y: auto;
    max-width: 100%;
    overflow-y: auto;
}

.logo{ 
    width: 50px;
    height: 50px;    
}

img , h1{
    display: inline-block;
    flex-direction: row;
    
}
footer{
    background-color: black;    
    text-align: center;
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 25px;
}
#corpo{
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    top: 170px;
}
p{
    text-align: center;
}
header{
    height: 60px;
    text-align: center;
    width: 100%;
    height: 25px;
    padding-bottom: 40px;    
}
main{
    min-height: calc(100vh - 100px);
}
#home , #ho , #rec , #cad{
cursor: default;
color: #fff;
}
.nav-item {
    margin: 0 10px;
}
.menu_active{
    color: red;
    text-decoration:underline
}
#ini {
    color:red;   
    }